@mixin headers {
  h1 {

    font-size: 38px;
    font-family: "Montserrat";
    color: rgba(0, 0, 0, 0.902);
    font-weight: bolder;
    text-transform: uppercase;
    margin: 90px 0 0 0;
    letter-spacing: 1px;
  }

  h2 {
    font-size: 1.055vw;
    font-family: "Merriweather";
    color: rgba(0, 0, 0, 0.62);
    text-transform: uppercase;
    /*line-height: 1.556;
    text-align: center;*/

    /*left: 409.664px;
    top: 972.496px;
    z-index: 46;*/

  }
}