.about-us {
  display: flex;
  justify-content: center;
  flex-direction: column;

  flex-wrap: wrap;
  align-items: center;
  position: relative;
  width: 1440px;
  height: 981px;
  background-color: #f8fafa;
  border: 1px dashed red;
}

.about-us-content {
  display: flex;
  flex-direction: row;
  align-items: center;

}