@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap);
.header {
  width: 75vw;
  height: 41.927vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #eff0f2;
  border: 1px dashed green; }
  .header .header-logo {
    margin: 3.333vw 0 0 7.813vw; }
  .header .header-text {
    font-family: 'Montserrat', sans-serif;
    margin: 20vh 0 14.7vh 0.5vw;
    font-size: 2.41vw;
    color: #505050;
    font-weight: bold;
    text-transform: uppercase;
    /*line-height: 0.622;*/
    text-align: center;
    text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
    letter-spacing: 0.02em;
    z-index: 100; }
  .header .header-cup {
    margin: -3vh 0 0 58.542vw;
    width: 4.4vw;
    height: auto; }
  .header .header-button {
    height: 5.656vh;
    width: 12.083vw;
    margin: 0 31.458vw 0 31.458vw;
    color: rgba(0, 0, 0, 0.749);
    padding: 0 0 0 4px;
    border: 2px solid #777879;
    border-radius: 3px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9vw;
    letter-spacing: 3px;
    font-weight: bold; }
  .header .header-button:hover,
  .header .header-button:focus {
    height: 5.656vh;
    width: 12.083vw;
    margin: 0 31.458vw 0 31.458vw;
    background: rgba(118, 244, 234, 0.5);
    padding: 0 0 0 4px;
    border: 2px solid #777879;
    border-radius: 3px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9vw;
    letter-spacing: 3px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 200ms linear; }

.box {
  border: 1px dashed green; }

.header-text-background {
  background: rgba(118, 244, 234, 0.5);
  padding: 0 5px 0 5px;
  margin: 0 -5px 0 -5px;
  height: 2.5vw; }

.Rectangle_42 {
  background-color: #76f4ea;
  opacity: 0.502;
  position: absolute;
  left: 784px;
  top: 305px;
  width: 255px;
  height: 54px;
  z-index: 4; }

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 75vw;
  height: 51.094vw;
  background-color: #f8fafa;
  border: 1px dashed red; }
  .about-us .about-us-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    .about-us .about-us-header h1 {
      font-size: 2vw;
      font-family: "Montserrat";
      color: rgba(0, 0, 0, 0.902);
      font-weight: bolder;
      text-transform: uppercase;
      margin: 6vw 0 -0.6vw 1vw;
      letter-spacing: 1px; }
    .about-us .about-us-header h2 {
      font-size: 1.055vw;
      font-family: "Merriweather";
      color: rgba(0, 0, 0, 0.62);
      text-transform: uppercase;
      /*line-height: 1.556;
      text-align: center;*/
      /*left: 409.664px;
      top: 972.496px;
      z-index: 46;*/ }

.about-us-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }
  .about-us-content .about-us-image {
    margin: 6.4vw 7.8vw 0 12vw;
    background-color: #e4e5e8;
    box-shadow: 0px 0px 30px 0px rgba(20, 20, 21, 0.13); }
  .about-us-content .about-us-text {
    width: 25vw;
    margin: 0 0 0 0.2vw; }
    .about-us-content .about-us-text h2 {
      font-size: 1.155vw;
      font-family: "Merriweather";
      color: rgba(0, 0, 0, 0.749);
      font-weight: bold;
      text-transform: uppercase; }
    .about-us-content .about-us-text p {
      font-size: 1vw;
      font-family: "Raleway";
      color: rgba(0, 0, 0, 0.741);
      letter-spacing: 1px; }

.featured-works {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 75vw;
  height: 1165px;
  background-color: #ffffff;
  border: 1px dashed red; }
  .featured-works .featured-works-examples {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    .featured-works .featured-works-examples .examles-item {
      margin: 4px; }

.small-team {
  position: relative;
  width: 1440px;
  height: 2062px;
  background-color: #f9fbfb;
  border: 1px dashed red; }

.footer {
  position: relative;
  width: 1440px;
  height: 314px;
  background-color: #262b2e;
  border: 1px dashed red; }

body {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

