
.header {

  @media screen and (min-width: 1440px) {
    min-height: 806px;
    width: 100%;
    max-width: 1440px;
  }

  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #eff0f2;
  z-index: 100;

  .header__logo {

    @media screen and (min-width: 1920px) {
      margin: 64px 0 0 150px;
    }

    align-self: flex-start;
    flex-direction: row;
    margin: 3.333vw 0 0 7.813vw;

  }

  .header__text {
    font-family: 'Montserrat', sans-serif;
    margin: 190px 0 0 0;
    font-size: 45px;
    color: rgb(80, 80, 80);
    font-weight: bold;
    font-stretch: extra-expanded;
    text-transform: uppercase;
    line-height: 60px;
    text-align: center;
    text-shadow: 0 9px 10px rgba(0, 0, 0, 0.24);
    letter-spacing: 2px;
    z-index: 100;


    @media screen and (max-width: 1920px) {
      margin: 9.9vw 0 0 0;
    }

    @media screen and (max-width: 350px) {
      margin: 40px 0 0 0;
      font-size: 35px;
      line-height: 50px;
    }


    .header__text-background {
      background: rgba(118, 244, 234, 0.5);
      padding: 0 5px 0 5px;
      margin: 0 -5px 0 -5px;
      height: 38px;
    }
  }


  .header__cup {
    @media screen and (min-width: 1920px) {
      align-self: flex-end;
      margin: -25px 234px 0 0;
    }
    align-self: flex-end;
    margin: 40px 12.18vw 40px 0;

    img {
      /*width: 4.4vw;*/
      width: 84px;
      height: auto;
    }

  }


  .header__button {
    height: 53px;
    width: 232px;
    margin: 135px 0 0 0;
    color: rgba(0, 0, 0, 0.749);
    padding: 0 0 0 4px;
    border: 2px solid #777879;
    border-radius: 3px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;

    @media screen and (max-width: 1920px) {
      margin: 7.031vw 0 0 0;
    }


  }


  .header__button_active:hover,
  .header__button_active:focus {
    height: 53px;
    width: 232px;
    margin: 135px 0 0 0;
    background: rgba(118, 244, 234, 0.5);
    padding: 0 0 0 4px;
    border: 2px solid #777879;
    border-radius: 3px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 200ms linear;

    @media screen and (max-width: 1920px) {
      margin: 7.031vw 0 0 0;
    }

  }

}

