@import "../general/headers/headers";



.small-team {
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 1400px;
  background-color: #f9fbfb;


  .small-team-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @include headers;

  }

  .small-team-examples {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 110px 0 0 0;


    .person-item {
      margin: 5px 6px 6px 5px;
      cursor: pointer;
    }

    .person-item:hover,
    .person-item:focus {
      margin: 5px 6px 6px 5px;
      opacity: 0.5;
      cursor: pointer;
      transition: opacity 200ms linear;
    }


  }
}


